.idea/
/vendor/
node_modules/
npm-debug.log
yarn-error.log
logs
*.log
.npm
.vscode-test
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
GitHub.sublime-settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets